.gu_headlines_widget_inner .gu_headline {
	clear: both;
	margin: 0;
	padding: 0.5em 0 1em 0;
	border-top: 1px dotted #2E2C42;
}
.gu_headlines_widget_inner .gu_headline:after {
    content: "";
    display: table;
    clear: both
}

.gu_headlines_widget_inner .gu_headline img {
	float: left;
	clear: none;
	max-width: 35%;
	margin: 0;
	padding: 0;
	border: none;
}

.gu_headlines_widget_inner .gu_headline p {
	float: right;
	clear: none;
	width: 60%;
	margin: -2px 0 0 0;
	padding: 0;
	line-height: 1.3em;
}

.gu_headlines_widget_inner .gu_headline p a {
	margin: 0;
	padding: 0;
}

.gu_headlines_widget_inner .powered_by {
	margin: 0;
	padding: 0;
	border-top: 1px dotted #2E2C42;
}

.gu_headlines_widget_inner .powered_by:after {
    content: "";
    display: table;
    clear: both
}

.gu_headlines_widget_inner .powered_by img {
	display: block;
	float: right;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

